<div class="calculator">
  <div class="row">
    <div class="number button">
      7
    </div>
    <div class="number button">
      8
    </div>
    <div class="number button">
      9
    </div>
  </div>
  <div class="row">
    <div class="number button">
      4
    </div>
    <div class="number button">
      5
    </div>
    <div class="number button">
      6
    </div>
  </div>
  <div class="row">
    <div class="number button">
      1
    </div>
    <div class="number button">
      2
    </div>
    <div class="number button">
      3
    </div>
  </div>
  <div class="row">
    <div class="back button">
      <
    </div>
    <div class="number button">
      0
    </div>
    <div class="clear button">
      <<
    </div>
  </div>
</div>
