<div class="results">
  <div class="column">
    <div class="title">
      <span>Shipping</span>
    </div>
    <div class="shipping">
      $0.00
    </div>
  </div>
  <div class="column">
    <div class="title">
      <span>Tax</span>
    </div>
    <div class="tax">
      $0.00
    </div>
  </div>
  <div class="column">
    <div class="title">
      <span>Total</span>
    </div>
    <div class="total">
      $0.00
    </div>
  </div>
</div>
