<div class="results">
  <div class="column">
    <div class="title">
      Shipping
    </div>
    <div class="shipping">
      $0.00
    </div>
  </div>
  <div class="column">
    <div class="title">
      Tax
    </div>
    <div class="tax">
      $0.00
    </div>
  </div>
  <div class="column">
    <div class="title">
      Total
    </div>
    <div class="total">
      $0.00
    </div>
  </div>
</div>
