<table class="results">
  <tbody>
    <tr class="titles">
      <td>Shipping</td>
      <td>Tax</td>
      <td>Total</td>
    </tr>
    <tr>
      <td id="shipping">
        $0.00
      </td>

      <td id="tax">
        $0.00
      </td>

      <td id="total">
        $0.00
      </td>
    </tr>
  </tbody>
</table>
