<div class="results">
  <div class="shipping">
    Shipping: <span>$0.00</span>
  </div>
  <div class="tax">
    Tax: <span>$0.00</span>
  </div>
  <div class="total">
    Total: <span>$0.00</span>
  </div>
</div>
