<span class="logo-container">
  <a href="/" class="icon-logo"></a>
  <%= link_to 'Welcome', '#', class: 'welcome' %>
</span>

<header>
  ENTER A NUMBER
</header>

<%= render 'form' %>

<%= render 'results' %>

<%= render 'number_pad' %>
