<div class="calculator">
  <div class="row">
    <div class="number button">
      <div>7</div>
    </div>
    <div class="number button">
      <div>8</div>
    </div>
    <div class="number button">
      <div>9</div>
    </div>
  </div>
  <div class="row">
    <div class="number button">
      <div>4</div>
    </div>
    <div class="number button">
      <div>5</div>
    </div>
    <div class="number button">
      <div>6</div>
    </div>
  </div>
  <div class="row">
    <div class="number button">
      <div>1</div>
    </div>
    <div class="number button">
      <div>2</div>
    </div>
    <div class="number button">
      <div>3</div>
    </div>
  </div>
  <div class="row">
    <div class="back button">
      <div><</div>
    </div>
    <div class="number button">
      <div>0</div>
    </div>
    <div class="clear button">
      <div><<</div>
    </div>
  </div>
</div>
