<div class="results">
  <div class="shipping">
    Shipping: <span><%= @item.shipping.to_dollars %></span>
  </div>
  <div class="tax">
    Tax: <span><%= @item.tax.to_dollars %></span>
  </div>
  <div class="total">
    Total: <span><%= @item.total.to_dollars %></span>
  </div>
</div>
