@import 'sass';

.calculator {
  border-collapse: collapse;
  font-size: 1.5em;
  font-weight: 200;
  border-top: 1px solid white;
  height: 50%;
  width: 100%;
  transition: opacity $time/2 $time/2;
  tr {
    height: 25%;
    td {
      width: 10%;
      text-align: center;
      &.pressed {
        background: darken($bg-color, 5%);
        padding-top: 5px;
      }
      @include user-select(none);
      @include immobile {
        &:hover {
          background: darken($bg-color, 5%);
        }
      }
    }
  }
}
