@import 'sass';

.price {
  background: $bg-color;
  border: none;
  color: white;
  text-align: right;
  font-size: 4em;
  font-weight: 100;
  font-family: inherit;
  right: 0;
  height: 22%;
  padding-right: 5vw;
  width: 100%;
  &:focus {
    outline: none;
  }

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    // display: none; // <- Crashes Chrome on hover
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}
.results {
  text-align: right;
  font-weight: 200;
  font-size: 1.2em;
  height: 20%;
  display: flex;
  padding: 0 0 2em;
}
.title span {
  border-bottom: 1px solid white;
}
.column {
  display: flex;
  width: 1%;
  flex-grow: 1;
  flex-direction: column;
  div {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
}
