@import "sass";



body {
  width: 100vw;
  height: 100vh;
  background: #F9F9F9;
  color: white;
  font-family: verdana, arial, helvetica, sans-serif;
  font-family: 'Work Sans', sans-serif; // eeights: 100 200 300 400
}
.container {
  left: 0;
  right: 0;
  margin: auto;
  height: 100vh;
  background: $bg-color;
  position: absolute;
  box-shadow: 0 1px 30px rgba(0,0,0,.4);
  @include mobile {
    width: 100%;
  }
  @include immobile {
    width: $calculator-width;
  }
  &.hidden {
    div, header, input {
      opacity: 0;
    }
    img {
      @include mobile {
        width: 80vmin;
      }
      @include immobile {
        width: $calculator-width*0.8;
        left: calc( (100vw - #{$calculator-width*0.8}) / 2 );
      }
    }
    a {
      opacity: 1;
    }
    .logo-container {
      z-index: 1;
      top: 15vh;
      height: 100vh - (15vh + 20vh);
      width: 100%;
    }
  }
}
header {
  font-size: 1.1em;
  font-weight: 300;
  height: 8vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity $time/2 $time/2;
}
