@import "sass";

body {
  width: 100vw;
  height: 100vh;
  background: #F9F9F9;
  color: white;
  font-family: verdana, arial, helvetica, sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lato', sans-serif;
}
.container {
  left: 0;
  right: 0;
  margin: auto;
  height: 100vh;
  background: $bg-color;
  position: absolute;
  box-shadow: 0 1px 30px rgba(0,0,0,.4);
  @include mobile {
    width: 100%;
  }
  @include immobile {
    width: 50%;
  }
}
header {
  font-size: 1.1em;
  font-weight: 300;
  height: 8vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  $padding: 1vh;
  max-height: 8vh;

  top: 0;
  left: 5px;
  position: fixed;
  padding: $padding;

  @include immobile {
    left: calc(25vw + 5px);
  }
}
