@import "sass";

body {
  width: 100vw;
  height: 100vh;
  background: #F9F9F9;
}
.container {
  left: 0;
  right: 0;
  margin: auto;
  height: 100vh;
  background: $bg-color;
  position: absolute;
  box-shadow: 0 1px 30px rgba(0,0,0,.1);
  @include mobile {
    width: 100%;
  }
  @include immobile {
    width: 50%;
  }
}
header {
  height: 8vh;
  line-height: 8vh;
  text-align: center;
}
