@import 'sass';

.logo-container {
  // Flex
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  height: 10vh;
  position: fixed;
  top: 2vh;
  text-align: center;
  // z-index: 0; // TODO: FIX

  transition: all $time $time/2;

  @include mobile {
    width: 23%;
  }
  @include immobile {
    width: $calculator-width*0.23;
  }

}
.icon-logo {
  $padding: 1em;
  $curve: cubic-bezier(.28,.12,0,1);
  $curve-2: cubic-bezier(.33,.01,0,1);
  $curve-3: cubic-bezier(.15,0,0,1);
  $curve-4: cubic-bezier(1,0,1,1);
  $curve-5: cubic-bezier(.8,0,.2,1);
  font-size: 7.5vh;
  color: inherit;
  text-decoration: none;

  transition: all $time $curve-5;
}
a.welcome {
  // button css
  border: 1px solid white;
  border-radius: 8px;
  bottom: 0;
  height: 30px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: $calculator-width*0.5;
  @include mobile { width: 50%; }

  // text css
  color: inherit;
  line-height: 30px;
  text-decoration: none;

  // animation
  transition: all 0.5s;
  opacity: 0;

  &:hover {
    background: white;
    color: $bg-color;
  }
}
